---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import TagsList from '@components/TagsList.astro';
import LargeCard from '@components/LargeCard.astro';
import { getPosts } from 'src/utils/blogUtils';
import { getTagsCount } from 'src/utils/tagUtils';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import PostsList from "@components/PostsList.astro";

const posts = await getPosts();

const latestPost = posts[0];

const postsWithoutLatest = posts.slice(1);

const postYears = new Map();

postsWithoutLatest.forEach(post => {
  if (post.data.date !== undefined){
    const year = post.data.date.getFullYear();
  if (!postYears.has(year)) {
    postYears.set(year, []);
  }
  postYears.get(year).push(post);
  }

});

const currentYear = new Date().getFullYear();

const tagsCount = await getTagsCount();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <p>
      <span class="text-yellow-400 text-2xl">Le</span> blog écrit <span class="font-bold text-2xl">par</span> un développeur
      <span class="font-bold text-2xl">pour</span> les développeurs !
    </p>
    <p>
      Quand je ne trouve pas d'infos je compile les infos que je trouve et
      j'écris l'article que j'aurais aimé trouver 😅.
    </p>
    <p>
      Des questions purement techniques (et technologiques) sur le
      fonctionnement d'un ordinateur jusqu'aux outils de documentation, en
      passant par la mise en place de test, la rédaction de ces articles me
      permet de poser mes idées et de m'en imprégner durablement.
    </p>
    <section>
      <TagsList tags={tagsCount} />
    </section>
    <section>
      <LargeCard post={latestPost} />
    {Array.from(postYears.entries()).map(([year, articles]) =>
      articles.length > 0 && (
        <section>
          {year !== currentYear && <h2 class="flex justify-center">{year}</h2>}
          <PostsList posts={articles} />
        </section>
      )
    )}
    </section>
  </main>
</BaseLayout>