---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
const base = import.meta.env.BASE_URL;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const allTags = posts.map((post) => post.data.tags).flat();

var tags = allTags.reduce(function (acc, tag: string) {
  acc[tag] = (acc[tag] || 0) + 1;
  return acc;
}, {});
function slugify(str) {
  return String(str)
    .normalize("NFKD")
    .replace(/[\u0300-\u036f]/g, "")
    .trim()
    .toLowerCase()
    .replace(/[^a-z0-9 -]/g, "")
    .replace(/\s+/g, "-")
    .replace(/-+/g, "-");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
        font-size: smaller;
      }
      ul li a:hover h4,
      ul li a:hover .date,
      span a:hover {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Dev En Devenir</h1>
      <p>
        Un blog écrit <strong>par</strong> un développeur
        <strong>pour</strong> les développeurs !
      </p>
      <p>
        Quand je ne trouve pas d'infos je compile les infos que je trouve et
        j'écris l'article que j'aurais aimé trouver 😅
      </p>
      <p>
        Des questions purement techniques (et technologiques) sur le
        fonctionnement d'un ordinateur jusqu'aux outils de documentation, en
        passant par la mise en place de test, la rédaction de ces articles me
        permet de poser mes idées et de m'en imprégner durablement.
      </p>
      <div style="padding-bottom:1em;">
        |
        {
          Object.entries(tags).map(([key, val]) => (
            <span style="display:inline; font-size:0.9em">
              <span>
                <a
                  href={`${base + "/tags/" + slugify(key)}/`}
                  style="text-decoration:none"
                >
                  {key}
                </a>
              </span>
              <span>{val} |</span>
            </span>
          ))
        }
      </div>

      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <PostCard
                  externalurl={post.data.url}
                  banner={post.data.banner}
                  title={post.data.title}
                  date={post.data.date}
                  slug={post.slug}
                />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
