---
import FormattedDate from "./FormattedDate.astro";
const { post } = Astro.props;
const base = import.meta.env.BASE_URL;
---

{
    post.data.url ? (
        <a href={post.data.url} target="_blank" class="no-underline">
            <img
                width={720}
                height={360}
                src={base + post.data.banner}
                alt=""
            />
            <h4 class="title">{post.data.title}</h4>
            <p class="date">
                <FormattedDate date={post.data.date} />
            </p>
        </a>
    ) : (
        <a href={`${base + "/blog/" + post.slug}/`} class="no-underline">
            <img
                width={720}
                height={360}
                src={base + post.data.banner}
                alt=""
            />
            <h4 class="title m-0 leading-10">{post.data.title}</h4>
            <p class="date">
                <FormattedDate date={post.data.date} />
            </p>
        </a>
    )
}

<style>
    .date {
        color: rgb(var(--gray));
    }
    a:hover h4,
    a:hover .date {
        color: rgb(var(--accent));
    }
    a:hover img {
        box-shadow: var(--box-shadow);
    }
    .title {
        color: rgb(var(--black));
    }
</style>
