---
import FormattedDate from "./FormattedDate.astro";
const { externalurl, banner, title, date, slug } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<style>
    a {
        text-decoration: none;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
        font-size: smaller;
    }
    a:hover h4,
    a:hover .date {
        color: rgb(var(--accent));
    }
    a:hover img {
        box-shadow: var(--box-shadow);
    }
    .title {
        margin-bottom: 0%;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
    }
</style>
{
    externalurl ? (
        <a href={externalurl} target="_blank">
            <img width={720} height={360} src={base + banner} alt="" />
            <h4 class="title">{title}</h4>
            <p class="date">
                <FormattedDate date={date} />
            </p>
        </a>
    ) : (
        <a href={`${base + "/blog/" + slug}/`}>
            <img width={720} height={360} src={base + banner} alt="" />
            <h4 class="title">{title}</h4>
            <p class="date">
                <FormattedDate date={date} />
            </p>
        </a>
    )
}
