---
import { Icon } from "astro-icon/components";
import { LINKEDIN_LINK, GITHUB_LINK } from "@consts";
const { iconSize } = Astro.props;
---

<ul class="flex items-center space-x-3 space-y-0 list-none p-0 m-0" id="externalLinks">
    <li>
        <a href={LINKEDIN_LINK} target="_blank" class="text-white hover:text-yellow-400 transition-colors" title="LinkedIn">
            <Icon name="linkedin" class={iconSize} />
        </a>
    </li>
    <li>
        <a href={import.meta.env.BASE_URL + "/rss.xml"} target="_blank" class="text-white hover:text-yellow-400 transition-colors" title="RSSFeed">
            <svg xmlns="http://www.w3.org/2000/svg" class={iconSize} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 11a9 9 0 0 1 9 9"></path>
                <path d="M4 4a16 16 0 0 1 16 16"></path>
                <circle cx="5" cy="19" r="1"></circle>
            </svg>
        </a>
    </li>
    <li>
        <a href={GITHUB_LINK} target="_blank" class="text-white hover:text-yellow-400 transition-colors" title="GitHub">
            <Icon name="github" class={iconSize} />
        </a>
    </li>
</ul>
