---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import RelatedArticles from "@components/RelatedArticles.astro";
import CallToAction from "@components/CallToAction.astro";

type Props = {
  post: CollectionEntry<"blog">["data"];
};

const { post } = Astro.props;
const isExternal = !!post.url;
const base = import.meta.env.BASE_URL;
const site = import.meta.env.SITE;
const ogImage = site + base + post.banner;
---

<meta property="og:image" content={ogImage} />
<meta property="og:title" content={post.title} />
<meta property="og:description" content={post.description} />

<BaseLayout
  title={post.title}
  description={post.description}
  data-pagefind-ignore={isExternal ? "" : undefined}
>
  <article data-pagefind-body={isExternal ? undefined : ""}>
    <div class="relative w-full max-w-4xl mx-auto">
      <img
        src={base + post.banner}
        class="w-full h-auto object-cover"
        alt={`Bannière pour ${post.title}`}
      />
      <div
        class="absolute bottom-0 right-0 bg-slate-900 bg-opacity-50 w-full rounded-b-lg"
      >
        <p class="text-white text-sm py-2 px-4 text-right mb-0">
          © <a
            href={post.unsplashlink}
            class="no-underline text-white hover:text-white">{post.author}</a
          > via <a
            class="no-underline text-white hover:text-white"
            href={post.authorlink}>Unsplash</a
          >
        </p>
      </div>
    </div>
    <div class="mb-4 py-4 text-center leading-none">
      <h1 class="-mb-0.5">{post.title}</h1>
      <hr />
    </div>

    <slot />

    <CallToAction />

    <RelatedArticles tags={post.tags} title={post.title} />
  </article>
</BaseLayout>
