---
import { getCollection } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PostCard from "@components/PostCard.astro";

const { name, description } = Astro.props;

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const filteredPosts = posts.filter((post) => post.data.tags?.includes(name));
---

<html lang="en">
    <head>
        <BaseHead title={name} description={description} />
    </head>
    <body>
        <Header />
        <main>
            <h2>{name}</h2>
            <p>{description}</p>
            <ul id="articles">
                {
                    filteredPosts.map((post) => (
                        <li>
                            <PostCard post={post} />
                        </li>
                    ))
                }
            </ul>
        </main>
        <Footer />
        <style>
            main {
                width: 720px;
                max-width: calc(100% - 2em);
                margin: auto;
                padding: 3em 1em;
            }
            .prose {
                width: 720px;
                max-width: calc(100% - 2em);
                margin: auto;
                padding: 1em;
                color: rgb(var(--gray-dark));
            }
            .title {
                margin-bottom: 1em;
                padding: 0;
                line-height: 1;
            }
            .date {
                margin-bottom: 0.5em;
                color: rgb(var(--gray));
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul li {
                width: calc(50% - 1rem);
            }
            ul li * {
                text-decoration: none;
                transition: 0.2s ease;
            }
            ul li img {
                margin-bottom: 0.5rem;
                border-radius: 12px;
            }
            ul li a {
                display: block;
            }
            .title {
                display: block;
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
            }
            .date {
                margin: 0;
                color: rgb(var(--gray));
                font-size: smaller;
            }
            ul li a:hover h4,
            ul li a:hover .date {
                color: rgb(var(--accent));
            }
            ul a:hover img {
                box-shadow: var(--box-shadow);
            }
            @media (max-width: 720px) {
                ul {
                    gap: 0.5em;
                }
            }
        </style>
    </body>
</html>
