---
import BaseLayout from "./BaseLayout.astro";
import PostsList from "@components/PostsList.astro";
import { getBlogsByTagId } from "src/utils/blogUtils";

const { id, name, description } = Astro.props;

const filteredPosts = await getBlogsByTagId(id);
const fullDescription = `Articles appartenant à la catégorie ${name}`;
---

<BaseLayout title="Catégorie" description={fullDescription}>
    <h2 class="mb-4 py-4 text-center leading-none">{name}</h2>
    <p>{description}</p>
    <PostsList posts={filteredPosts} />
</BaseLayout>
